*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root{
    --main-color: #00704a;
    --second-color: #0d3125;
}
section{
    padding: 50px 10%;
    text-transform: capitalize;
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 41px #025036 ;
    padding: 15px 10%;
    transition: .2s;
}
.logo-container{
    text-align: center;
    width: 3rem;
}
img .logo{
    align-items: center;
    width: 20rem;
} 
.logo-text{
   font-size: .8rem;
   font-weight: 900;
   color: #00704a;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.2rem;
    padding: 11px 10px;
    color: #0d3125;
    font-weight: 400;
}
.navbar a:hover{
    background-color: #00704a;
    color: aliceblue;
    border-radius: 1rem;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:linear-gradient(rgba(3, 26, 11, 0.3),rgba(2, 13, 4, 0.3)), #00704a no-repeat;
    background-position: center;
    background-size: cover;
}
.home-text{
    flex: 1 1 17rem;
    margin-top: 4rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    border-radius: 15rem;
    margin-top:5rem;
    animation: animate  2s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform:translate(-0px, -11px); 
    }
    100%{
        transform: translate(-11px, 0);
    }
}
.home-text span{
    font-size: 2rem;
    text-align: center;
    font-family: 'Karla';
    color: #0d3125;
}
.home-text h1{
    font-size: 3rem;
    font-family: 'Neut';
    color: aliceblue;
    margin-top: .5rem;
}
.home-text h2{
    font-size: 2rem;
    font-family: 'Karla', serif;
    color: #072e21;
    margin-bottom: 3dvh;
    font-weight:500;
}
.home-text h2 span{
    color: aliceblue;
    font-size: 1.5rem;
    font-family: sans-serif, monospace;
    margin-bottom: 4rem;
}
.btn{
    padding: 1rem;
    background: #0d3125;
    border-radius: 2rem;
    color: white;
    margin-top: 1rem;
}
.heading{
    text-align: center;
    color: #131131;
    text-transform: capitalize;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    margin-top: 15px;
}
.heading span{
    background: #00704a;
    color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
  }
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about .row .img{
    flex: 1 1 17rem;
}
.about .row .img img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 17rem;
    padding: 1rem;
}
.about .row .content h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.about .row .content p{
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}
.headings {
    text-align: center;
}
.headings span{
    font-size: 1.5rem;
    font-weight: 800;
    color: #0d3125;
}
.headings h1{
    font-size: 2.5rem;
    color: #00704a;
}
.shop-container{
    display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin-top: 5rem;
}
.shop-container .box{
    flex: 1 1 10rem;
    background: #00704a;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 1rem;
}
.shop-container .box .box-img{
    width: 80px;
    height: 120px;
    margin-top: -70px;
}
.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
   
}
.star{
    margin: 1rem 0 .1rem;
}
.shop-container .box .stars .bx{
    color: aliceblue;
    margin-top: 1rem;
}
.shop-container .box h2{
    color: #0d3125;
}
.shop-container .box span{
    color: aliceblue;
    font-weight: 800;
    font-size: 1rem;
}
.shop-container .btn{
    font-size: 1rem;
    padding: .5rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.delivery-img{
    flex: 1 1 21rem;
}
.delivery-text{
    flex: 1 1 21rem;
}
.delivery-text h2{
    font-size: 1.2rem;
    color: #0d3125;
}
.delivery-text p{
    margin: .5rem 0 1rem;
   text-align: justify;
   margin-bottom: 2rem;
}

.app-img{
    flex: 1 1 21rem;
}
.app-text{
    flex: 1 1 21rem;
}

.app-text h2{
    font-size: 1.2rem;
    color: #0d3125;
}
.app-text p{
    margin: .5rem 0 1rem;
   text-align: justify;
   margin-bottom: 2rem;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a{
    font-size: 27px;
    margin: .5rem;
}
.social a .bx{
    padding: 5px;
    color: aliceblue;
    background: #00704a;
    border-radius: 50rem;
    margin-bottom: 1rem;
}
.links a{
    color: #00704a;
}
.contact p{
    margin-top: 1rem;
}
.contact p span{
    color: #025036;

}


@media(max-width: 1150px){
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}

@media(max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
   
}
@media(max-width: 768px){
    header{
        padding: 11px 4%;
    }
   #menu-icon{
    display: initial;
   }
   header .navbar{
    position: absolute;
    top: -500%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    box-shadow: 0 4px 4px #0d3125;
    border-top: 2px solid #00704a;
    transform: .2s;
   }
   .navbar.active{
    top: 100%;
   }
   .navbar a{
    padding: 1rem;
    display: block;
   }
}
@media(max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
}